Mission to Mars

In [1]:
# Import dependencies
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
import pymongo
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
# User splinter to
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389
[WDM] - Driver [C:\Users\paulp\.wdm\drivers\chromedriver\win32\89.0.4389.23\chromedriver.exe] found in cache

In [3]:
mars={}

In [4]:
# Get the URL for NASA latest news
url = 'https://redplanetscience.com/'
# Open the URL
browser.visit(url)
url

'https://redplanetscience.com/'

In [5]:
# Create the html
html = browser.html
soup = bs(html, 'html.parser')

In [6]:
# Get the latest news
news_latest = soup.find("div", class_="content_title").text
news_latest

'Mars Is Getting a New Robotic Meteorologist'

In [7]:
news_latest_p = soup.find("div", class_="article_teaser_body").text
news_latest_p

"Sensors on NASA's Perseverance will help prepare for future human exploration by taking weather measurements and studying dust particles."

In [8]:
mars["news_latest"]=news_latest
mars["news_latest_p"]=news_latest_p

In [9]:
# Get the images in the JPL Mars Space Image - Featured Image
url = 'https://spaceimages-mars.com/'
browser.visit(url)
browser.find_by_tag("button")[1].click()

In [15]:
html = browser.html
jpl_image = bs(html, "html.parser")

In [16]:
image = jpl_image.find('img', class_="fancybox-image").get('src')
image

'image/featured/mars1.jpg'

In [17]:
feature_image = "https://spaceimages-mars.com/"+image
feature_image

'https://spaceimages-mars.com/image/featured/mars1.jpg'

In [18]:
mars["featured_image_url"]=feature_image

In [19]:
# Mars facts
url = "https://galaxyfacts-mars.com/"
mars_df = pd.read_html(url)
mars_df=mars_df[0]
mars_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [20]:
mars_df.columns=["Description", "Mars", "Earth"]
mars_df.set_index("Description", inplace=True)
mars_df

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [21]:
mars_df_html = mars_df.to_html()
mars_df_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [22]:
mars["facts"]=mars_df_html

In [23]:
# Mars hemisphere
url = "https://marshemispheres.com/"
browser.visit(url)
result = browser.find_by_css("a.product-item img")
hemisphere_img_url = []
for i in range(len(result)):
    hemisphere = {}
    browser.find_by_css("a.product-item img")[i].click()
    element = browser.links.find_by_text('Sample').first
    img_url = element["href"]
    hemisphere["img_url"]=img_url
    hemisphere["title"]=browser.find_by_css("h2.title").text
    hemisphere_img_url.append(hemisphere)
    browser.back()
hemisphere_img_url

[{'img_url': 'https://marshemispheres.com/images/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]